<!DOCTYPE html>
<html lang="en">
<header>
    {% include "navBar.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modal.css' %}">
</header>

<body>
    {% load static %}
    <div class="home">
        {% include "Background.html" %}
        <div class="Clubs-1" id="league">
            <br>
            <h1>Choose a league</h1>
            <img id="country" src="{% static 'images/maps-and-location.svg' %}">
        </div>
        <div class="Clubs-2" id="team">
            <br>
            <h1>Choose a team</h1>
            <img id="country" src="{% static 'images/plan.svg' %}">
        </div>
        <div class="Clubs-3" id="season">
            <br>
            <h1>Choose a season</h1>
            <img id="country" src="{% static 'images/calendar.svg' %}">
        </div>
        <div class="Clubs-4" id="match">
            <br>
            <h1>Choose a match</h1>
            <img id="country" src="{% static 'images/match.svg' %}">
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Choose a league</h2>
            </div>
            <div class="list-group" id="landen">
                <form method="post">
                    {% csrf_token %}
                    <a><button class="button-flags" name="flag-btn" value="1" id="bel-btn">Belgium Jupiler League<img id="league-flags" src="{% static 'landen/belgium-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="1729" id="eng-btn">England Premier League<img id="league-flags" src="{% static 'landen/england.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="4769" id="fra-btn">France Ligue 1<img id="league-flags" src="{% static 'landen/france-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="7809" id="ger-btn">Germany 1. Bundesliga<img id="league-flags" src="{% static 'landen/germany-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="10257" id="ita-btn">Italy Serie A<img id="league-flags" src="{% static 'landen/italy.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="13274" id="net-btn">Netherlands Eredivisie<img id="league-flags" src="{% static 'landen/netherlands.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="15722" id="pol-btn">Poland Ekstraklasa<img id="league-flags" src="{% static 'landen/poland.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="17642" id="por-btn">Portugal Liga ZON Sagres<img id="league-flags" src="{% static 'landen/portugal-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="19694" id="sco-btn">Scotland Premier League<img id="league-flags" src="{% static 'landen/scotland.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="21518" id="spa-btn">Spain LIGA BBVA<img id="league-flags" src="{% static 'landen/spain-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="24558" id="swi-btn">Switzerland Super League<img id="league-flags" src="{% static 'landen/switzerland-2.svg' %}"></button></a>
                </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>

        <!-- The Modal -->
        <div id="myModal-2" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close-2">&times;</span>
              <h2>Choose a league</h2>
            </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>



        <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("league");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>

        <script>
        // Get the modal
        var modal2 = document.getElementById('myModal-2');

        // Get the button that opens the modal
        var btn2 = document.getElementById("team");

        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close-2")[0];

        // When the user clicks the button, open the modal
        btn2.onclick = function() {
          modal2.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span2.onclick = function() {
          modal2.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal2) {
            modal2.style.display = "none";
          }
        }
        </script>
    </div>


</body>
</html>