<!DOCTYPE html>
<html lang="en">
<header>
    {% include "navBar.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
</header>

<body>
    {% load static %}
    <div class="home">
        {% include "Background.html" %}
        <div class="Clubs-1" id="league">
            <br>
            <h1>Choose a league</h1>
            <img id="country" src="{% static 'images/maps-and-location.svg' %}">
        </div>
        <div class="Clubs-2" id="team">
            <br>
            <h1>Choose a team</h1>
            <img id="country" src="{% static 'images/plan.svg' %}">
        </div>
        <div class="Clubs-3" id="season">
            <br>
            <h1>Choose a season</h1>
            <img id="country" src="{% static 'images/calendar.svg' %}">
        </div>
        <div class="Clubs-4" id="match">
            <br>
            <h1>Choose a match</h1>
            <img id="country" src="{% static 'images/match.svg' %}">
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Choose a league</h2>
            </div>
            <div class="list-group" id="landen">
                <form method="post">
                    {% csrf_token %}
                    <a><button class="button-flags" name="flag-btn" value="1" id="bel-btn">Belgium Jupiler League<img id="league-flags" src="{% static 'landen/belgium-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="1729" id="eng-btn">England Premier League<img id="league-flags" src="{% static 'landen/england.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="4769" id="fra-btn">France Ligue 1<img id="league-flags" src="{% static 'landen/france-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="7809" id="ger-btn">Germany 1. Bundesliga<img id="league-flags" src="{% static 'landen/germany-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="10257" id="ita-btn">Italy Serie A<img id="league-flags" src="{% static 'landen/italy.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="13274" id="net-btn">Netherlands Eredivisie<img id="league-flags" src="{% static 'landen/netherlands.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="15722" id="pol-btn">Poland Ekstraklasa<img id="league-flags" src="{% static 'landen/poland.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="17642" id="por-btn">Portugal Liga ZON Sagres<img id="league-flags" src="{% static 'landen/portugal-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="19694" id="sco-btn">Scotland Premier League<img id="league-flags" src="{% static 'landen/scotland.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="21518" id="spa-btn">Spain LIGA BBVA<img id="league-flags" src="{% static 'landen/spain-2.svg' %}"></button></a>
                    <a><button class="button-flags" name="flag-btn" value="24558" id="swi-btn">Switzerland Super League<img id="league-flags" src="{% static 'landen/switzerland-2.svg' %}"></button></a>
                </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>

        <!-- The Modal -->
        <div id="myModal-2" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close-2">&times;</span>
              <h2>Choose a league</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% for clubs in data %}
                        <a><button name="club-btn" value="{{clubs.0}}">{{clubs.0}}</button></a>
                    {% endfor %}
                </form>
                <div class="modal-footer">
            </div>
          </div>
        </div>

        <!-- The Modal -->
        <div id="myModal-3" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close-3">&times;</span>
              <h2>Choose a league</h2>
                </div>
                <form method="post">
                    hallo
                </form>
                <div class="modal-footer">
            </div>
          </div>
        </div>

        <script src="{% static 'javascript/league_modal.js' %}"></script>
        <script src="{% static 'javascript/team_modal.js' %}"></script>
        <script src="{% static 'javascript/season_modal.js' %}"></script>


    </div>


</body>
</html>