<!DOCTYPE html>
<html lang="en">
<header>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <div class="icon-bar">
        <a onclick="location.href='/'"><img id="home-svg" src="{% static 'images/insurance.svg' %}"></a>
        <a onclick="location.href='/club'"><img id="club-svg" src="{% static 'images/club.svg' %}"></a>
        <a onclick="location.href='/match'"><img id="team-svg" src="{% static 'images/soccer.svg' %}"></a>
        <a onclick="location.href='/player'"><img id="player-svg" src="{% static 'images/soccer-player.svg' %}"></a>
    </div>
</header>
</html>