<!DOCTYPE html>
<html lang="en">
<header>
    {% include "navBar.html" %}
</header>

<body>
    {% include "Background.html" %}
    <div class="stats-back"></div>
    <div class="pace">
        <h3>Pace</h3>
        <h4>Acceleration &nbsp&nbsp{{attr.0.14}}</h4><br>
        <h4>Sprint Speed &nbsp&nbsp{{attr.0.15}}</h4>
    </div>
    <div class="shooting">
        <h3>Shooting</h3>
        <h4>Positioning &nbsp&nbsp{{attr.0.26}}</h4><br>
        <h4>Finishing &nbsp&nbsp{{attr.0.5}}</h4><br>
        <h4>Shot Power &nbsp&nbsp{{attr.0.19}}</h4><br>
        <h4>Long Shots &nbsp&nbsp{{attr.0.23}}</h4><br>
        <h4>Volleys &nbsp&nbsp{{attr.0.8}}</h4><br>
        <h4>Penalties &nbsp&nbsp{{attr.0.28}}</h4>
    </div>
    <div class="passing">
        <h3>Passing</h3>
        <h4>Vision &nbsp&nbsp{{attr.0.27}}</h4><br>
        <h4>Crossing &nbsp&nbsp{{attr.0.4}}</h4><br>
        <h4>Free Kick &nbsp&nbsp{{attr.0.11}}</h4><br>
        <h4>Short Passing &nbsp&nbsp{{attr.0.7}}</h4><br>
        <h4>Long Passing &nbsp&nbsp{{attr.0.12}}</h4><br>
        <h4>Curve &nbsp&nbsp{{attr.0.10}}</h4>
    </div>
    <div class="dribbling">
        <h3>Dribbling</h3></h1>
        <h4>Agility &nbsp&nbsp{{attr.0.16}}</h4><br>
        <h4>Balance &nbsp&nbsp{{attr.0.18}}</h4><br>
        <h4>Reactions &nbsp&nbsp{{attr.0.17}}</h4><br>
        <h4>Ball Control &nbsp&nbsp{{attr.0.13}}</h4><br>
        <h4>Dribbling &nbsp&nbsp{{attr.0.9}}</h4><br>
    </div>
    <div class="defence">
        <h3>Defence</h3>
        <h4>Interceptions &nbsp&nbsp{{attr.0.25}}</h4><br>
        <h4>Heading &nbsp&nbsp{{attr.0.6}}</h4><br>
        <h4>Marking &nbsp&nbsp{{attr.0.29}}</h4><br>
        <h4>Standing Tackle &nbsp&nbsp{{attr.0.30}}</h4><br>
        <h4>Sliding Tackle &nbsp&nbsp{{attr.0.31}}</h4>
    </div>
    <div class="physical">
        <h3>Physical</h3>
        <h4>Jumping {{attr.0.20}}</h4><br>
        <h4>Stamina {{attr.0.21}}</h4><br>
        <h4>Strength {{attr.0.22}}</h4><br>
        <h4>Aggression {{attr.0.24}}</h4>
    </div>
    </div>
</body>
</html>